<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="conn_bdvveasycomp" value="Data Source=V422\SQLEXPRESS;Initial Catalog=bdvveasycomp;User ID=sa;Password=valeverde;"/>
  </appSettings>
</configuration>
